extends layout

block content
  header
    h1 Reporte de Garitas
    .controls.right
      a(href="/login") Login

  #reports
    .port
      h1 San Ysidro

      h2 Passenger
      dl
        dt Standard
        dd.slow 02:40
      dl
        dt Sentri
        dd.regular 01:28
      dl
        dt Readylane
        dd.fast 00:15

      h2 Pedestrian
      dl
        dt Standard
        dd.slow 02:40
      dl
        dt Sentri
        dd.regular 01:28
      dl
        dt Readylane
        dd.fast 00:15

    .port
      h1 Otay Mesa

      h2 Passenger
      dl
        dt Standard
        dd.slow 02:40
      dl
        dt Sentri
        dd.regular 01:28
      dl
        dt Readylane
        dd.fast 00:15

      h2 Pedestrian
      dl
        dt Standard
        dd.slow 02:40
      dl
        dt Sentri
        dd.regular 01:28
      dl
        dt Readylane
        dd.fast 00:15

    .port
      h1 Tecate

      h2 Passenger
      dl
        dt Standard
        dd.slow 02:40
      dl
        dt Sentri
        dd.regular 01:28
      dl
        dt Readylane
        dd.fast 00:15

      h2 Pedestrian
      dl
        dt Standard
        dd.slow 02:40
      dl
        dt Sentri
        dd.regular 01:28
      dl
        dt Readylane
        dd.fast 00:15

