extends layout

block content
  header
    h1 Reporte de Garitas
    .controls.right
      a(href="/login") Login

  #reports(ng-controller="ReportController")
    .port(ng-controller="PortController", ng-repeat="portName in ports")
      h1 {{portName}}
      div(ng-repeat="type in laneTypes")
        h2 {{ type.name }}
        dl(ng-repeat="lane in type.lanes")
          dt {{ lane.lane }}
          dd(ng-class="lane.delay | minutesToDelay") {{lane.delay | minutesToTime }}
